<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li class="gray-button" id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>

			<li class="gray-button" id="search-modal-btn">
				<i class="fa fa-search"></i>
				<input type="search" name="search"  placeholder="Search">
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button class="blue-button" id="subscribe-now-btn">
					<span>SUBSCRIBE NOW</span>
				</button>
		  </li>
			<li>
				<button class="blue-button" id="log-in-btn">
					<span>LOG IN</span>
				</button>
      </li>
			<li>
				<button class="gray-button" id="cog-btn">
					<i class="fa fa-cog"></i>
			  </button>
			</li>
		</ul>

	</nav>
</header>
