

<section class="masthead">
  <!-- <nav class="language-nav> -->


  <ul class="language-nav masthead-links nav-header">
    <li class="underline"><button type="button" name="css">CSS</button></li>
    <li class="underline"><button type="button" name="html">HTML</button></li>
    <li class="underline"><button type="button" name="javascript">JAVASCRIPT</button></li>
    <li class="underline"><button type="button" name="ruby">RUBY</button></li>
  </ul>
  <!-- </nav> -->


  <!-- <section class="logo"> -->
    <img class='logo' src="assets/AA_Times_Logo.png" alt="App Academy Times">
  <!-- </section> -->

  <ul class='masthead-link-borders masthead-links'>
    <li>Tuesday, October 18,2016</li>
    <li class="underline"><button type="button" name="current-paper"><i class="fa fa-newspaper-o"></i> Today’s Paper</button></li>
    <li class="underline"><button type="button" name="video" ><i class="fa fa-video-camera"></i>Video</button></li>
    <li><button type="button" name="temperature">77°F</button></li>
    <li><button type="button" name="stock">AAO +100% </button></li>
  </ul>

</section>


<!-- CSS
HTML
Javascript
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% -->
