<h1 class="page-header">Search!</h1>

<div class="users-search">

  <form class="simple-form">

    <div>
      <label for="user-search-input">Username</label>
      <input class="user-search-input" type="text" name="username" placeholder="Enter a Username">
    </div>

  </form>

<h3>Results</h3>
<ul class="users"></ul>
</div>
